@import "tailwindcss";
/* In your global CSS file (e.g., styles/globals.css) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 25s linear infinite;
}
.surgery-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}